<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include common/css.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<!--<% include common/header.ejs %>-->
<main class="main-content">
    <div class="canvas-wrapper jsc-canvas-wrapper">
        <canvas id="jsi-canvas"></canvas>
    </div>
</main>
<!--<% include common/footer.ejs %>-->
<% include common/script.ejs %>
<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
</body>
</html>
