.main-content {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.vs-table {
	font-size: 1.5rem;
}
.vs-table th,
.vs-table td {
	padding-top: 10px;
	padding-bottom: 10px;
}


.info-chart > dt {
	margin-top: 20px;
	font-size: 1.8rem;
	font-weight: bold;
}
.info-chart > dd + dt {
	margin-top: 30px;
}
.info-chart > dd,
.desc-container > p {
	margin-top: 10px;
	font-size: 1.5rem;
	line-height: 2.0rem;
}

.info-ref {
	text-align: right;
}

.sale-date-table {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #666;
	text-align: center;
}

.sale-date-table > tbody {
	border-top: 1px solid #666;
}

.sale-date-table th + th,
.sale-date-table td {
	padding: 5px 0;
	border-left: 1px solid #666;
}
.desc-container {
	margin-top: 20px;
}

.terminal-comparison {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #666;
	font-size: 1.4rem;
}
.terminal-comparison > tbody {
	border-top: 1px solid #666;
}
.terminal-comparison tr + tr {
	border-top: 1px solid #666;
}
.terminal-comparison th+ th {
	border-left: 1px solid #666;
}
.terminal-comparison th {
	padding: 10px 0;
	vertical-align: middle;
}
.terminal-comparison figcaption {
	font-size: 1.5rem;
}
.terminal-comparison td {
	padding-left: 5px;
	padding-right: 5px;
	border-left: 1px solid #666;
	vertical-align: middle;
	text-align: center;
}