<footer class="common-footer">
    <backquote>Apple, iOS, iPhone, iPad, Xcode, Swift, Objective-cは米国およびその他の国で登録された<a href="http://www.apple.com/" target="_blank">Apple Inc.</a>の商標です。</backquote><br>
    <backquote>Android は Google Inc. の商標です。</backquote><br>
    <backquote>Android ロボットは、Google が作成および提供している作品から複製または変更したものであり、Creative Commons 3.0 Attribution ライセンスに記載された条件に従って使用しています。</backquote><br>
    <backquote>「WordPress」「WordCamp」の名称及びロゴの商標は、非営利団体である WordPress ファウンデーションが保有・管理しています。</backquote><br>
    <backquote>「Amazon」はアマゾンの商標です。詳しくは<a href="https://www.amazon.co.jp/gp/help/customer/display.html?nodeId=201909000">こちら</a></backquote><br>
    <backquote>当サイトで使われている特記事項のない写真素材の著作権は<a href="https://www.pakutaso.com/" target="_blank">写真素材ぱくたそ（www.pakutaso.com）</a>様に帰属いたします。</backquote>
</footer>