<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../common/css.ejs %>
</head>
<body>
<% include ../common/header.ejs %>
<main class="main-content">
</main>
<% include ../common/footer.ejs %>
<% include ../common/script.ejs %>
</body>
</html>