<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../common/css.ejs %>
    <link rel='stylesheet' type="text/css" href='/stylesheets/smartphone-app.css'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/c3.css">
</head>
<body>
<% include ../common/header.ejs %>
<main class="main-content">
    <h1 class="content-title">スマートフォンアプリ</h1>
    <dl class="info-chart">
        <dt>OS別使用率</dt>
        <dd>
            <figure id="user-rate"></figure>
            <p class="info-ref"><a href="http://www.kantarworldpanel.com/global/smartphone-os-market-share/" target="_blank"><backquote>出典: KANTER WORLDPANEL 様</backquote></a></p>
            <div class="desc-container">
                <p>この図を見てわかるのは、AndroidとiPhoneの使用率が月度により乱高下していることだ。<br>
                    原因の一つとして考えられるのが、iPhoneの新機種発表である。
                </p>
            </div>
            <table class="sale-date-table">
                <theader>
                    <tr>
                        <th></th>
                        <% saleDate.forEach(function (value) { %>
                        <th><%= value.columnName %></th>
                        <% }); %>
                    </tr>
                </theader>
                <tbody>
                    <tr><th>販売日(日本)</th>
                        <% saleDate.forEach(function (value) { %>
                        <td><%= value.columnValue %></td>
                        <% }); %>
                    </tr>
                </tbody>
            </table>
            <div class="desc-container">
                <p>ご覧の通りiPhoneの新機種がでると次期のシェアが上がっている。アプリのリリース時期を考える材料になるといえよう。</p>
            </div>
        </dd>
        <dt>世界のコンテンツ別モバイル端末市場</dt>
        <dd>
            <figure id="market-scale"></figure>
            <p class="info-ref"><a href="http://www.soumu.go.jp/johotsusintokei/whitepaper/ja/h27/html/nc252310.html" target="_blank"><backquote>出典: 総務省 平成27年度阪 情報通信白書</backquote></a></p>
            <div class="desc-container">
                <p>上記グラフから読み取れるのは、モバイル広告とモバイル映像の伸びが大きいということだ。特にモバイル広告は伸び幅が大きく、2012年度と2016年度を比較するとその差は3倍以上である。<br>
                    もしアプリで収益をあげたいのならば、広告部門の方が伸び代が大きいということは覚えておいて損はないだろう。
                </p>
            </div>
        </dd>
    </dl>
</main>
<% include ../common/footer.ejs %>
<% include ../common/script.ejs %>
<script type="text/javascript" src="/javascripts/d3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/c3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/smartphone-app.js"></script>
</body>
</html>