<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../common/css.ejs %>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
</head>
<body>
<% include ../common/header.ejs %>
<main>
    <h2 class="section-title">スマートフォンアプリ</h2>

</main>
<% include ../common/footer.ejs %>
<% include ../common/script.ejs %>
<script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>